/* body */
body {
  background-color: #eeeeee;
}
.container{
width: 100%;
margin-left: -5px;
}


/* Find us section */
h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
.poster{
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;
}
.comments{
  margin-left: 517px;
  margin-top: -20px;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}
.day {
  width: 74px;
  margin-left: 2px;
  font-size: 32px;
  height: 67px;
  background: #FF8D71;
  color: #fff;
  text-align: center;
  padding-top: 12px;}
.month{
  margin-top: 15px;
  font-size: 14px;
  width: 74px;
  height: 27px;
  background: #FF5342;
  color: #fff;
}
#title_1 {
  margin-left: 97px;
  margin-top:  -55px;
  font-family: 'Open Sans', sans-serif;
  color: #FC7F66; }
#title_2 {
  margin-left: 97px;
  margin-top:  -55px;
  font-family: 'Open Sans', sans-serif;
  color: #FC7F66; }
#post {
  margin-top: 119px;

  font-family: 'Open Sans', sans-serif;
}
#post_pic1{
  margin-top: 20px;
}
#post_pic2{
  margin-top: 20px;
}
.aside_title{
  color:black;
  font-size: 38px;
  margin-top: 100px;
}
#categories {
  margin-left: 110px;
  margin-top: -865px;
}
#categories li {
  list-style: none;
  width: 226px; 
  margin-top: 5px; }
#categories li:before {
  content: "\009B \0020"; }
#archives {
  margin-left: 110px;
  margin-top: 47px;
}
#archives li {
  list-style: none;
  width: 226px; 
  margin-top: 5px; }
#archives li:before {
  content: "\009B \0020"; }
#copyright {
  margin-top: 117px;
  margin-left: -320px;
  font-family: 'Open Sans', sans-serif;
}
#phone {
  margin-left: 360px;
  margin-top: -20px;
  width: 100px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
#return{
  margin-left: 900px;
  margin-top: -80px;
}
.rm_btn {
  width: 139px;
  margin-top: 42px;
  height: 55px;
  background: #FF9D7E;
  background: -moz-linear-gradient(top, #FF9D7E 0%, #FF7961 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9D7E), color-stop(100%, #FF7961));
  background: -webkit-linear-gradient(top, #FF9D7E 0%, #FF7961 100%);
  background: -o-linear-gradient(top, #FF9D7E 0%, #FF7961 100%);
  background: -ms-linear-gradient(top, #FF9D7E 0%, #FF7961 100%);
  background: linear-gradient(to bottom, #FF9D7E 0%, #FF7961 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  color: #fff; }
/*Aside Menu Category Archives*/
.categoriesnarchives{
position: relative;
bottom: 140px;
left: 650px;
margin-left: -35px;
color: gray;
width: 100%;
font-size: 0.96em;
}
/*High Screen res*/
@media screen and (min-width: 1440px) {
    #phone {
  margin-left: 600px;
  margin-top: -20px;
  width: 100px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
    #return{
  margin-left: 800px;
  margin-top: -80px;
}
    .categoriesnarchives{
  position: relative;
  bottom: 65px;
  left: 720px;
  width: 90%;
}
#main-nav{
    width: 1020px;
    height: 80px;
}
.comments{
  margin-left: 375px;
  margin-top: -20px;
}
}
/*A resolution between a tablet a pc boi*/
@media screen and (max-width: 1185px) {
    #phone {
  margin-left: 600px;
  margin-top: -20px;
  width: 100px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
    #return{
  margin-left: 800px;
  margin-top: -80px;
}
    .categoriesnarchives{
  position: relative;
  bottom: 765px;
  left: 570px;
  width: 90%;
}
#main-nav{
    width: 750px;
    height: 80px;
}
.comments{
  margin-left: 375px;
  margin-top: -20px;
}
}
/*Maybe a samsumg tablet phone?*/
@media screen and (max-width: 740px){

.categoriesnarchives{
display: none;
}
    #phone {
  margin-left: 10px;
  margin-top: 20px;
  width: 100px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
    #return{
  margin-left: 120px;
  margin-top: -75px;
}
    #main-nav{
    width: 690px;
    height: 120px;
}
    .comments{
  margin-left: 580px;
  margin-top: -20px;
}
}
/*Standard Chinesse phone XD*/
@media screen and (max-width: 480px){

.categoriesnarchives{
display: block;
position: relative;
left: 0px;
top:900px;    
}
    #phone {
  margin-left: 10px;
  margin-top: 820px;
  width: 100px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
    #return{
  margin-top: -75px;
}
    #main-nav{
    width: 350px;
    height: 120px;
}
    .comments{
  margin-left: 280px;
  margin-top: -20px;
}
    #copyright{
  position: relative;
  top:800px;
}
}
/*old model*/

@media screen and (max-width: 360px){
    body{
        width: 320px;
    }
    #main-nav{
       width: 280px;
       background: #FF9D7E;
   } 
    #main-nav li{
       background: #FF9D7E;
       width: 280px;
       z-index: 2;
   }
    #main-nav li a{
       background: #FF9D7E;
       width: 280px;
       z-index: 2;
       margin-top: -20px;
   }
   #post{
      margin-top: 10px;
   }
   #categories{
       margin-left: -300px;
   }
   #archives{
       margin-left: -300px;
   }
   .comments{
      margin-left: 105px;
      margin-top: 10px;
   }
}

@media screen 
  and (min-device-width: 360px) 
  and (max-device-width: 768px) 
  { 
    body{
        width: 768px;
    }
    #main-nav{
       width: 728px;
       background: #FF9D7E;
       height: 40px;
   } 
    #main-nav li{;
       width: 120px;
       z-index: 2;
   }
    #main-nav li a{
       width: 120px;
       z-index: 2;
   }
    #inside_nav{
       height: 120px;
       z-index: 5;
   }
    #deeper_nav{
       width: 120px;
       z-index: 5;
   }
    
   #post{
      width: 260px;
      margin-top: -260px;
      margin-left: 320px;
   }

   .comments{
      margin-left: 105px;
      margin-top: 10px;
   }
  .rm_btn{
      margin-top: 20px;
      margin-left: 320px;
  }
  #categories{
       margin-top: 800px;
       margin-left: -500px;
   }
   #archives{
        margin-top: -515px;
       margin-left: -100px;
   }
  #copyright{
   margin-top: -715px;
   margin-left: 50px;
  }
}
